$color : #33658a;

.pb-4, .py-4 {

    padding-bottom: 43.5rem !important;

}

.mb-7, .my-7 {

    margin-bottom: 5rem !important;

}
.presentation,
.skills,
.hobbies,
.contact,
.folio
{
    
    height: auto;
    overflow: hidden;
}

.presentation{
    
    height: auto;
}
.folio
{
    background-color: #9090a5;
}

.skills{
    background-color: rgba(41, 41, 41, 0.8);
    h2{
        color: #fff;
    }
    .container{
        padding-left: 5rem;
        .row{
            padding: 0 0;
            margin-left: -34px;
        }
    }
    .fab {
        color: $color;
        font-size: 8rem;
        margin-bottom: 2rem;
    }
    .img_skills
    {
        width: 112px;
        height: 128px;
        margin-bottom: 2rem;
    }

    .skills__bar{
        width: 9em;
        height: 1rem; 
        border-radius: 4px;
        border: 2px solid $color;
        margin: 10px auto 3rem;
        transition:0.3s linear;
	    transition-property:width, background-color;
    }

    .bar {
        background-color: $color;
        width: 0px;
        height: 100%;
    }
}


.contact{
    background-color: rgba(179, 161, 122, 0.883);
}
.hobbies
{
   
    background-color: rgba(0, 0, 0, 0.7);
    height:auto;
    color: rgb(255, 255, 255);
    .card{
        h1 {
            font-size: 1.6rem;
        }
    }

    .card-body
    { 
        width:18rem;
        h3{
            color: $color;
        }
    }

    .fas{
        border: 2px solid $color;
        color: $color;
        border-radius: 100%;
        padding:7px;
        &:last-child{
            border:none;
            border-radius: none;
            padding: none;
        }
    }
    

}

.title__bar{
     
    width: 4em;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    height: 4px;
    background: $color;
}

.cross{
    font-size: 23px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    color: $color;
}

